*,
*::before,
*::after {
    box-sizing:border-box;
    text-align: center;
    /* word-wrap: break-word; */
    margin: 0 auto;
    font-size: 16px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: dimgrey;
    color:orangered;
};

h1 {
    font-size: 150%;
    position: relative;
}

form {
    margin: auto;
    padding: 30px;
    border: 12px blue solid;
    background-color: rgb(142, 221, 192);
}

.hideMe{
    position:absolute;
}

.card {
    background-color:	#FFFFE0;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin: 60px auto;
    padding: 20px;
    width: 80vw;
}

.card button, 
.card a,
#endOfGame{
    width: 100%;
    height: 15vh;
    margin: 10px;
    background-color: rgb(142, 221, 192);
    padding: 10px;
    border-radius: 8px;
    cursor:pointer;
    display: block;
    position: relative;
    word-wrap: break-word;
}

.answerBtn {
    font-size: 150%;
}

#timer {
    text-align: right;
}

#endOfGame,
#quiz,
#time-left {
    display:none;
}

#startWindow {
    display:block;
}

@media screen {
    
}